<!doctype html>
<html>
 <head>
   <meta charset="utf-8"/>
   <title>论坛首页</title>
   <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
 </head>
 <body>
 <div class="container">
   <div class="row">
     <div class="col-xs-12 col-md-12">
       <div class="jumbotron">
        <center><h2>Python部落论坛</h2></center>
       </div>
     </div>
   </div>
  {% if form.non_field_errors %}
      {% for error in form.non_field_errors %}
      <div class="alert alert-danger">{{ error }}</div>
      {% endfor %}
  {% endif %}
  {% if form.new_password1.errors %}
      {% for error in form.new_password1.errors %}
      <div class="alert alert-danger">新密码:{{ error }}</div>
      {% endfor %}
  {% endif %}
  {% if form.new_password2.errors %}
      {% for error in form.new_password2.errors %}
      <div class="alert alert-danger">密码确认:{{ error }}</div>
      {% endfor %}
  {% endif %}

   <div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="panel panel-success">
           <div class="panel-heading">
              <h3 class="panel-title">登录</h3>
           </div>
           <br/>
        <form class="form-horizontal" method="POST">{% csrf_token %}
            <div class="col-xs-12 col-md-12">
             <div class="input-group">
               <div class="input-group-addon">新密码</div>
               <input type="password"  id="id_new_password1" class="form-control" placeholder="password" name="new_password1">
             </div>
             </div>
             <br/>
             <br/> 
             <br/>

             <div class="col-xs-12 col-md-12">
             <div class="input-group">
               <div class="input-group-addon">密码确认</div>
               <input type="password" id="id_new_password2" class="form-control" placeholder="password" name="new_password2">
             </div>
             </div>
             <br/>
             <br/>
             <br/>

          <div class="col-xs-12 col-md-12">
          <button type="submit" class="btn btn-primary">确认</button>
          </div>
           <br/>
           <br/>
           <br/>
       </form>
  </div>
 </div>
 </div>
 </div>
 </body>
</html>

