<!doctype html>
<html>
 <head>
   <meta charset="utf-8"/>
   <title>论坛首页</title>
   <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
 </head>
 <body>
 <div class="container">
   <div class="row">
     <div class="col-xs-12 col-md-12">
       <div class="jumbotron">
        <center><h2>Python部落论坛</h1></center>
       </div>
     </div>
   </div>
 {% if user.is_authenticated %}
   <p>{{ user.username }}欢迎来到论坛</p>
   <a href="/accounts/logout">登出</a>
   <a href="/accounts/password_change/">修改密码</a>
 {% else %}
   <p>匿名用户,请<a href="/accounts/login">登录</a></p>
 {% endif %}
   <div class="row">
     <div class="col-xs-12 col-md-10">
      {% for b in blocks %}   
      <div class="panel panel-default">
        <div class="panel-heading">
          <a href="/article/list/{{ b.id }}" style-size:16px>{{ b.name }}</a>
          <span class="pull-right">{{ b.manager }}</span>
        </div>
        <div class="panel-body">
          {{ b.desc }}
        </div>
      </div>
      {% endfor %}
    </div>
 </div>
 </body>
</html>
