<!doctype html>
<html>
 <head>
   <meta charset="utf-8"/>
   <title>论坛首页</title>
   <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
 </head>
 <body>
 <div class="container">
   <div class="row">
     <div class="col-xs-12 col-md-12">
       <div class="jumbotron">
        <center><h2>Python部落论坛</h1></center>
       </div>
     </div>
   </div>
      {% if error1 %}
        <div class="alert alert-danger">{{ error1 }}</div>
      {% endif %}
      {% if error2 %}
        <div class="alert alert-danger">{{ error2 }}</div>
      {% endif %}
   <div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="panel panel-success">
           <div class="panel-heading">
              <h3 class="panel-title">注册</h3>
           </div>
           <br/>
           <form class=""form-horizontal"" method="POST">{% csrf_token %}
            <div class="col-xs-12 col-md-12">
             <div class="input-group">
               <div class="input-group-addon">用户名</div>
               <input type="text"  class="form-control" id="exampleInputAmount" placeholder="Username" name="username" value="{{ username }}">
             </div>
             </div>
             <br/>
             <br/> 
             <br/>
             <div class="col-xs-12 col-md-12">
             <div class="input-group">
               <div class="input-group-addon">邮箱</div>
               <input type="text" class="form-control" id="exampleInputAmount" placeholder="email" name="email" value="{{ email }}">
             </div>
             </div>
             <br/>
             <br/>
             <br/>
             <div class="col-xs-12 col-md-12">
             <div class="input-group">
               <div class="input-group-addon">密码</div>
               <input type="password" class="form-control" id="exampleInputAmount" placeholder="password" name="password1" value="{{ password1 }}">
             </div>
             </div>
             <br/>
             <br/>
             <br/>
             <div class="col-xs-12 col-md-12">
             <div class="input-group">
               <div class="input-group-addon">再次密码</div>
               <input type="password" class="form-control" id="exampleInputAmount" placeholder="password" name="password2" value="{{ password2 }}">
             </div>
             </div>
             <br/>
             <br/>
             <br/> 
           <div class="col-xs-12 col-md-12">
          <button type="submit" class="btn btn-primary">注册</button>
          </div>
           <br/>
           <br/>
           <br/>
        </form>
  </div>
 </div>
 </div>
 </div>
 </body>
</html>
